In [2]:
import pandas as pd
%matplotlib inline

# Load legislators-current.csv file from disk 
# and convert the birthday column to a date column:
legislators = pd.read_csv("../data/legislators-current.csv", encoding="latin")
legislators['birthday'] = pd.to_datetime(legislators['birthday'], format='%m/%d/%Y')

## Please complete the following tasks

1. In a new cell, output a data frame that only includes members of the legislature from a state of your choosing (e.g. "Only show me senators and representatives from Illinois").
2. In a new cell, output the 5 **oldest senators** (type == 'sen')
3. In a new cell, output the 5 **youngest** people in the **house of representatives** (type == 'rep')
4. In a new cell, output a dataframe showing the number of men and women in congress by state.
5. In a new cell, output the representative counts for each state in descending order.
6. In a new cell, make a **bar chart** of the states with the most representatives and the number of representatives they have.

### preview table

In [3]:
legislators.head(3)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin

### Exercise 1
Output a data frame that only includes members of the legislature from a state of your choosing (e.g. "Only show me senators and representatives from Illinois").

Hint: create a rule, and then filter the table using the rule. See the Evanston Inspection example for details.

In [4]:
# Your code here...

### Exercise 2
Output the 5 oldest senators. Hint: You will need to create a senate filter and then sort by birthday descending.

In [6]:
# Your code here...

### Exercise 3
Output the 5 youngest people in the house of representatives. Output the 5 oldest senators. Hint: You will need to create a house of representatives filter and then sort by birthday ascending.

In [7]:
# Your code here...

### Exercise 4
Number of men and women in congress by state. Hint: you will use the groupby and size methods to complete this task.

In [10]:
# Your code here...

### Exercise 5
Output the states with the most representatives in the house. Hint: you will use the groupby and size methods to complete this task.

In [11]:
# your code here...

###  Exercise 6
Create a chart of the number of people in the house of representatives by state

In [12]:
# your code here...