## Please complete the following tasks

1. In a new cell, modify the dataframe so that it only shows the following columns: stationName, city, availableBikes, availableDocks, totalDocks, latitude, longitude.
2. In a new cell, modify the dataframe so that it only shows stations in Evanston, ordered so that the station with the most availableBikes is at the top.
3. Write a program that prompts the user for a station name and then displays any station that has a partial match.
4. Display all of the stations on a map.

In [1]:
# import libraries:
from urllib.request import urlopen
import pprint
import json
import pandas as pd

## Let's Analyze the Bike Data

In [4]:
response = urlopen('https://feeds.divvybikes.com/stations/stations.json')
results = response.read().decode('utf-8', 'ignore')
data = json.loads(results)
# pprint.pprint(data, depth=3)
stationList = data['stationBeanList']

df = pd.DataFrame(stationList).set_index('id')
df.head(3)

,altitude,availableBikes,availableDocks,city,is_renting,kioskType,landMark,lastCommunicationTime,latitude,location,longitude,postalCode,stAddress1,stAddress2,stationName,status,statusKey,statusValue,testStation,totalDocks
id,,,,,,,,,,,,,,,,,,,,
2,,25,14,Chicago,True,K3_FULL,15541,2019-06-04 13:40:12,41.876470,,-87.620340,60605,Buckingham Fountain,,Buckingham Fountain,IN_SERVICE,1,In Service,False,39
3,,34,20,Chicago,True,K3_FULL,15544,2019-06-04 13:41:01,41.867226,,-87.615355,,Shedd Aquarium,,Shedd Aquarium,IN_SERVICE,1,In Service,False,55
4,,2,21,Chicago,True,K3_FULL,15545,2019-06-04 13:37:26,41.856268,,-87.613348,,Burnham Harbor,,Burnham Harbor,IN_SERVICE,1,In Service,False,23

### 1. Selecting Columns
Modify the dataframe so that it only shows the following columns: stationName, city, availableBikes, availableDocks, totalDocks, latitude, longitude.

In [ ]:
# 1. Display only the following columns: 
#    stationName, city, availableBikes, availableDocks, totalDocks, latitude, longitude

### 2. Filtering and Sorting
Modify the dataframe so that it only shows stations in Evanston, ordered so that the station with the most availableBikes is at the top.

In [ ]:
# Only show evanston stationsavailableBikes ordered descending by availableBikes

### 3. Filtering Data with User Input
Write a program that prompts the user for a station name and then displays any station that has a partial match.

In [ ]:
# 1. Write a program that prompts the user for a 
# station name and then displays any station that has a partial match.

### 4. Display All of the Stations on the Map

In [ ]:
# Map all of the bike stations by iterating through the data['stationBeanList'] list:
# pprint.pprint(data['stationBeanList'])

import folium

# create map:
chicago_map = folium.Map(
    location=[41.867226, -87.615355],  #lat, lng
    zoom_start=13,
    tiles="Stamen toner"   #"Stamen watercolor"
)

# add marker at Shedd Aquarium:
marker = folium.Marker(
    location=[41.867226, -87.615355]
)
marker.add_to(chicago_map)

# show map:
chicago_map